@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-thin::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    .scrollbar-thumb-gray-600::-webkit-scrollbar-thumb {
        background-color: #4b5563;
        border-radius: 3px;
    }

    .scrollbar-track-transparent::-webkit-scrollbar-track {
        background-color: transparent;
    }
}